<p-dialog [(visible)]="displayDialogForm" [modal]="true" [closable]="false">
  <div class="modal-content">
    <span class="close" (click)="closeForm()">&times;</span>
    <h2>Atualizar Produto</h2>

    <form (ngSubmit)="updateProduct(productForm)" #productForm="ngForm">
      <div>
        <label for="id">ID:</label>
        <input pInputText type="number" id="id" name="id" [(ngModel)]="product.id" required readonly/>
      </div>
      <div>
        <label for="name">Nome:</label>
        <input pInputText type="text" id="name" name="name" [(ngModel)]="product.name" required />
      </div>
      <div>
        <label for="price">Preço:</label>
        <p-inputNumber [(ngModel)]="product.price" name="price" inputId="currency-br" mode="currency" currency="BRL" locale="pt-BR" required></p-inputNumber>
      </div>
      <div>
        <label for="code">Código:</label>
        <input pInputText type="text" id="code" name="code" [(ngModel)]="product.code" required />
      </div>
      <div>
        <label for="quantity">Quantidade:</label>
        <input pInputText type="number" id="quantity" name="quantity" [(ngModel)]="product.quantity" required />
      </div>
      <div>
        <label for="productUrl">URL da Imagem:</label>
        <input pInputText type="url" id="productUrl" name="productUrl" [(ngModel)]="product.productUrl" required />
      </div>
      <button pButton type="submit">Atualizar</button>
    </form>
  </div>
</p-dialog>
