.delete-button {
  display: inline-block;
  padding: 8px 8px;
  border: none;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  position: relative;
  margin-right: 4px;
}

.delete-button:hover{
  background-color: white;
  color: #f44336;

}

.delete-button i {
  float: right;
  margin-left: 8px;
}


.quitar-button {
  display: inline-block;
  padding: 8px 10px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  position: relative;
}

.quitar-button:hover{
  background-color: white;
  color: #f44336;

}

.quitar-button i {
  float: right;
  margin-left: 8px;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Suporte para dispositivos móveis */
}

h2{
  font-size: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #3498db, #2c3e50);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}


.clientOptions{
  display: inline-block;
  padding: 8px 16px;
  border: solid;
  background-color: transparent;
  border-color:   #008695;
  color: #00646f;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  border-width: 1px;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 20px;
}

.containerOptions{
  text-align: center;
  margin-top: 20px;
}

.containerOptions button:hover{
  background-color:  #00646f;
  color: #ffffff;
}

@media (max-width: 518px){

  .delete-button {
    text-align: center;
    margin-right: 0px;
    font-size: 10px;
    justify-content: center;
    margin-bottom: 2px;
  }


  .quitar-button {
    text-align: center;
    margin-right: 0px;
    font-size: 10px;
  }

  .quitar-button i {
    float: left;
    margin-left: 8px;
    text-align: center;
  }

  .delete-button i {
    float: left;
    margin-left: 11px;
    margin-top: 2px;
  }


  .iconaction {
    font-size: 0.8rem;
  }

}

@media (max-width: 467px){
  .containerOptions{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .clientOptions{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 3px;
    font-size: 20px;
    width: 180px;
  }
}



