<nav class="navbar">
  <div class="container">
      <div class="grid" >

        <div class="col-12" style="display: flex; align-items: center; ">
          <a style="cursor: pointer;" (click)="exibindoMenu = !exibindoMenu"> <i class="pi pi-bars icon-hover" ></i> </a>
        </div>

      </div>
    </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="menu-title" >MENU <a style="cursor: pointer;"><i class="pi pi-times-circle" (click)="exibindoMenu = !exibindoMenu" style="font-size: 1.5rem" st></i></a> </li>
    <li><a [routerLink]="['/metrics']" href="">Métricas <i class="pi pi-chart-bar icons-menu"></i></a> </li>
    <li><a [routerLink]="['/user']"  href="">Usuários <i class="pi pi-users icons-menu"></i></a></li>
    <li><a [routerLink]="['/purchase']" href="">Compras <i class="pi pi-shopping-cart icons-menu"></i></a></li>
    <li><a [routerLink]="['/stock']" href="">Estoque <i class="pi pi-database icons-menu" ></i></a></li>
  </ul>
</nav>
