<div class="container">
  <div class="grid">
    <div class="col-12 md:col-6 xl:col-6" style=" margin-top: 5px; background-color: #e0e0e0;">
      <form #usuarioForm="ngForm" (ngSubmit)="cadastrar(usuarioForm)" >
        <div class="grid">

          <div class="col-12" *ngIf="message">
            <div class="success-message">
              {{message}}
            </div>
          </div>

          <div class="col-12 titulosFormularios">
            <h2>Cadastrar Cliente</h2>
          </div>

          <div class="col-12">
            <h3>Dados Pessoais</h3>
          </div>


          <div class="col-12" >
            <label>Nome</label>
            <input pInputText style="width: 100%;" type="text" name="name" required ngModel #name="ngModel">
            <app-valid-messages [controlForm]="name" text="Campo obrigatorio" error="required" ></app-valid-messages>
          </div>

          <div class="col-12">
            <label>Documento</label>
            <input pInputText style="width: 100%;" type="text" name="document" required ngModel #document="ngModel">
            <app-valid-messages [controlForm]="document" text="Campo obrigatorio" error="required" ></app-valid-messages>
          </div>

          <div class="col-12">
            <label>Email</label>
            <input pInputText style="width: 100%;" type="text" name="email" email required ngModel #email="ngModel">
            <app-valid-messages [controlForm]="email" text="Campo obrigatorio" error="required" ></app-valid-messages>
          </div>

          <div class="col-12">
            <label>Telefone</label>
            <input pInputText style="width: 100%;" type="text" name="phone" required ngModel #phone="ngModel">
            <app-valid-messages [controlForm]="phone" text="Campo obrigatorio" error="required" ></app-valid-messages>
          </div>

          <div class="col-12">
            <h3>Endereço</h3>
          </div>

          <div class="col-6">
            <label>Nome da Rua</label>
            <input pInputText style="width: 100%;" type="text" name="streetName" required ngModel #streetName="ngModel">
          </div>

          <div class="col-6">
            <label>Número da casa</label>
            <input pInputText style="width: 100%;" type="text" name="houseNumber" required ngModel #houseNumber="ngModel">
          </div>

          <div class="col-12">
            <label>Complemento</label>
            <input pInputText style="width: 100%;" type="text" name="complement"  ngModel #complement="ngModel">
          </div>

          <div class="col-12" >
            <button pButton [disabled]="!usuarioForm.valid" type="submit" label="Cadastrar"></button>
          </div>

        </div>
      </form>
    </div>

    <div class="col-12 md:col-6 xl:col-6" style=" margin-top: 5px; background-color: #c4c4c4; ">
      <form #buscarForm="ngForm" (ngSubmit)="localizar(buscarForm)">
        <div class="grid" style="display: flex; justify-content: center;">

          <div class="col-12 titulosFormularios" >
            <h2>Localizar Usuário</h2>
          </div>

          <div class="col-12 titulosFormularios" >
            <h3>Buscar por documento</h3>
          </div>

          <div class="col-7" >
            <label>Documento</label>
            <input pInputText style="width: 100%;" type="text" name="document" required ngModel #document="ngModel">
            <app-valid-messages [controlForm]="document" text="Campo obrigatorio" error="required" ></app-valid-messages>
          </div>

          <div class="col-7" >
            <button pButton [disabled]="!buscarForm.valid" type="submit" label="Localizar"></button>
          </div>

        </div>
      </form>

      <table  class="custom-prime-table ">
        <thead >
          <tr>
            <th class="responsive-hide">Id</th>
            <th>Nome</th>
            <th>Documento</th>
            <th class="responsive-hide">Email</th>
            <th class="responsive-hide">Telefone</th>
            <th >Detalhar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="responsive-hide">{{ userResponse?.id }}</td>
            <td>{{ userResponse?.name }}</td>
            <td>{{ userResponse?.document }}</td>
            <td class="responsive-hide">{{ userResponse?.email }}</td>
            <td class="responsive-hide">{{ userResponse?.phone }}</td>
            <td ><a href=""><i class="pi pi-eye"></i></a></td>
          </tr>
        </tbody>
      </table>

    </div>


  </div>
</div>

