<div class="container">
  <div class="grid" style="margin-top: 20px;">
    <div class="card col-12 " *ngIf="messageInterruptor">
      <p-messages [(value)]="messages!" [enableService]="false" />
    </div>
    <div class="col-12" >
      <h1>Realizar Compra</h1>
    </div>

    <div class="col-12 md:col-6 xl:col-6"   style="padding: 10px;">

      <div class="col-12" style="display: flex; justify-content: center; align-items: center;">
        <h2 style="margin-right: 5px;" >Escaneie O Produto Aqui!</h2>
        <i class="pi pi-camera pi-barcode" style="font-size: 1.5rem;"></i>
      </div>

      <div class="col-12" style="display: flex; justify-content: center; ">
        <div style="width: 300px;">
          <zxing-scanner
          [formats]="allowedFormats"
          (scanSuccess)="onCodeResult($event)">
          </zxing-scanner>
        </div>
      </div>

      <div class="col-12" style="padding: 10px; text-align: center;" >
        <label  >Documento</label>
        <input pInputText name="documentInput" id="documentInput" [(ngModel)]="clientDocument">
      </div>

      <div class="col-12" style="padding: 10px; text-align: center;">
        <button (click)="iniciarCompra()" pButton >Finalizar Compra</button>
      </div>

      <div class="col-12">
        <p-dialog header="Adicionar no Carrinho" [(visible)]="displayDialog" [modal]="true" [closable]="false">
          <div class="p-fluid">
            <div class="p-field">
              <label for="productName">Produto</label>
              <input id="productName" type="text" pInputText [(ngModel)]="productName" [disabled]="true"/>
              <label for="productName">Preço</label>
              <input id="productPrice" type="text" pInputText [(ngModel)]="productPrice" [disabled]="true"/>
            </div>

            <div class="card flex flex-wrap gap-3 p-fluid">
              <div class="flex-auto">
                  <label class="mb-2 block font-bold" for="minmax-buttons">
                      Quantidade
                      <img [src]="productUrl">
                  </label>
                  <p-inputNumber
                  [style]="{'width': '6rem'}"
                      [(ngModel)]="quantity"
                      [showButtons]="true"
                      inputId="minmax-buttons"
                      [min]="0"
                      [max]="100" />
              </div>
          </div>

          </div>
          <p-footer>
            <button type="button" pButton label="Adicionar" icon="pi pi-cart-plus" (click)="onRegister()"></button>
            <button type="button" pButton label="Cancelar" icon="pi pi-cart-minus" (click)="onCancel()"></button>
          </p-footer>
        </p-dialog>
      </div>

      <div class="col-12">
        <p-dialog header="Confirmar Compra" [(visible)]="displayDialogConfirmPurchase" [modal]="true" [closable]="false">

          <div class="p-fluid">
            <div class="p-field">
              <label  for="totaValue">Cliente : {{userName}}</label>
              <label  for="totaValue">Valor Total da Compra</label>

              <p-inputNumber
              [readonly]="true"
              [(ngModel)]="totalValuePurchase"
              inputId="totalValue"
              mode="currency"
              currency="BRL"
              locale="pt-BR">
              </p-inputNumber>

            </div>
          </div>

          <p-footer>
            <button type="button" pButton label="Confirmar" icon="pi pi-check" (click)="onRegisterPurchase()"></button>
            <button type="button" pButton label="Cancelar" icon="pi pi-times" (click)="onCancelPurchase()"></button>
          </p-footer>
        </p-dialog>
      </div>
    </div>


    <div class="col-12 md:col-6 xl:col-6" >

      <div class="grid">
        <div class="col-12">
          <h2>Carrinho</h2>
        </div>
      </div>

      <div class="grid">
        <div class="col-12 md:col-6 xl:col-4" *ngFor="let item of dataPurchaseArray">
          <p-card  subheader="Preço: {{item.price}}">
            <ng-template pTemplate="header">
              <img alt="Card" [src]="item.url" />
              <div class="card-header">
                <h4>{{ item.name }}</h4>
              </div>
            </ng-template>

            <ng-template pTemplate="footer">
              <div class="flex gap-3 mt-1">
                <p-button (click)="removeProduct(item.code)" label="Excluir" severity="secondary" class="w-full" styleClass="w-full" />
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>

    </div>


  </div>
</div>

